*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	/* background-color:red; */
}

.container{
	width:1260px;
	margin:0 auto;
	max-width:100%;
}

.row, .row:after; .row:before{
	display:table;
	width:100%;
	clear:both;
}

.col-2{
	width:calc(100% * 2 / 12);
	float: left;
	padding:0 15px;
}

.box{
	width: 100%;
	height:200px;
	margin-bottom:10px;
	background-color:yellow;
}


@media all and (max-width:1200px){
	.col-2{
	width: calc(100% * 4 / 12);
  }
  .box{
	  background-color:yellowgreen;
  }
}

@media all and (max-width:992px){
	.col-2{
	width:50%;
  }
  .box{
	  background-color:blueviolet;
  }
}


@media all and (max-width: 600px){
	.col-2{
			width:100%;
	}
	.box{
			background-color:pink;
	}
}




